<div class="detail">
  <button mat-button (click)="backToHomePage()">
    <mat-icon aria-hidden="false" aria-label="Icon" fontIcon="arrow_back"></mat-icon>
    Back
  </button>
  <div class="detail-container">
      <img class="detail-image" [src]="tvShow.image.medium" alt="image">
      <div class="detail-summary">
        <p class="detail-summary--title">{{tvShow.name}}</p>
        <div>{{tvShow.summary}}</div>
        <ng-container *ngIf="tvShow.genres!.length > 0">
          <p class="detail-summary--title">Genres</p>
        <app-chips-list [chipsList]="tvShow.genres!"></app-chips-list>
        </ng-container>
        <ng-container *ngIf="tvShow.rating.average">
          <p class="detail-summary--title">Average</p>
          <app-average [average]="tvShow.rating.average"></app-average>
        </ng-container>
      </div>
  </div>
</div>
