//FONTS
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$font-base-typography: 'Poppins', sans-serif;

* {
  font-family: $font-base-typography;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}
